.addImage-main{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
.addImage-main-relative{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    overflow: auto;
    max-height: 550px;
}
.addImage-main-relative::-webkit-scrollbar-track, 
.addImage-main-relative::-webkit-scrollbar {
     visibility: hidden; 
     width: 0px; 
     background: transparent; 
     display: none; 
}
.addImage-button,
.addImage-image-wrap{
    max-width: 100px;
    min-width: 20px;
    min-height: 20px;
    max-height: 100px;
    background: white;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
    border: none;
    outline: none;
    position: relative;
}
.addImage-image{
    width: 100%;
    max-width: 90px;
    max-height: 90px;
    border-radius: 3px;
}
.addImage-remove{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: absolute;
    right: -9px;
    top: -9px;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    cursor: pointer;
    color: white;
}
.addImage-button{
    height: max-content;
    padding: 6px 10px;
    border-radius: 4px;
    background: var(--blue);
    color: white;
    cursor: pointer;
    font-size: 16px;
    max-width: initial !important;
}
.message-button:hover{
    background: #0869d1;
    box-shadow: 0 0 10px rgb(245, 245, 245);
}

@media screen and (max-width: 800px) {
    .addImage-main-relative{
        max-height: 250px;
    }
}