*{
    box-sizing: border-box;
}
.messages-main-wrap-main{
    overflow: hidden;
    display: flex;
    height: calc(100svh - 60px);
}
.messages-main-wrap{
    max-width: 1400px;
}
.nothing-div{
    height: calc(100svh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nothing-span{
    font-size: 20px;
}
.messages{
    overflow: auto;
    height: 100%;
    padding: 10px 15px 10px 20px;
    scroll-behavior: smooth;
    height: calc(100svh - 136px);
}
.message-span{
    display: block;
    word-wrap: break-word;
    color: white;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
}
.messages::-webkit-scrollbar-track, 
.messages::-webkit-scrollbar {
     visibility: hidden; 
     width: 0px; 
     background: transparent; 
     display: none; 
}
.message-wrap-right{
    display: flex;
    justify-content: flex-end;
}
/* right */
.message-wrap-right > .message{
    border-radius: 15px 15px 3px 15px;
    background: var(--blue);
}
.message-wrap-right > .message > .message-date{
    text-align: right;
}
/* left */
.message-wrap-left > .message{
    border-radius: 15px 15px 15px 3px;
    background: var(--blue);
}

.message-wrap{
    margin-bottom: 1.5px;
}
.first-message{
    margin-top: 14px;
}

.message-wrap-right.my-middle-message > .message{
    border-radius: 15px 3px 3px 15px !important;
}
.message-wrap-right.my-last-message > .message{
    border-radius: 15px 3px 15px 15px !important;
}
.message-wrap-left.my-middle-message > .message{
    border-radius: 3px 15px 15px 3px !important;
}
.message-wrap-left.my-last-message > .message{
    border-radius: 3px 15px 15px 15px !important;
}

.message{
    padding: 7px 9px;
    max-width: 70%;
    width: max-content;
    transition: 500ms 200ms;
}

.message-form{
    position: fixed;
    width: 100%;
    background-color: white;
    bottom: 0;
    padding: 15px;
}
.inputholder{
    box-shadow: 0 0.5px 6px #dddbdb;
    border-radius: 15px;
}
.message-input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 12px 12px 12px;
    font-weight: bold;
    color: var(--blue);
    border-radius: 15px;
}

.friends-wrap-main{
    width: 340px;
    height: 100%;
    box-shadow: 0 0 10px rgb(237, 237, 237);
    position: relative;
    background-color: white;
    z-index: 2;
}
.friends-wrap{
    height: 100%;
}

@media screen and (max-width: 800px){
    .messages{
        padding: 10px;
    }
    .message-form{
        box-shadow: 0 0 10px rgb(238 237 237);
    }
}

/* 

::-webkit-scrollbar {
    width: 6px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #dedede;
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f0f0f0;
  }
   */