main{
    display: flex;
    padding: 30px 15px;
    position: relative;
}
.right{
    width: 35%;
    height: max-content;
    padding: 10px 0 0 30px;
}
.left{
    width: 65%;
    /* height: 95vh; */
    max-height: 800px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.left,.right{
    position: sticky;
    top: 0;
}
.big-image-wrap{
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(233, 233, 233);
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
}
.big-image{
    width: 100%;
}
.zoomed{
    transform: scale(2);
}

/* small */


/* right */
h1, h5{
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}
.trusted{
    margin: 0;
    color: #585858;
    font-weight: 100;
}
.title{
    margin: 0 0 15px 0;
    font-size: 35px;
    color: rgb(53, 53, 53);
    /* background: linear-gradient(to top, black, rgb(109, 108, 108));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    box-decoration-break: clone; */
    /* -webkit-box-decoration-break: clone; */
}

.price-wrap{
    padding-bottom: 10px;
}
.free-shipping-text{
    color:  rgb(111, 111, 111);
    letter-spacing: 1px;
    font-size: 12px;
    margin: 3px 0 20px 0;
}

.price{
    font-size: 19px;
    color: var(--mainColor);
}

.low-price{
    /* transform: translateY(-5px); */
    margin-right: 9px;
    display: flex;
    align-items: center;
}
.old-price{
    font-size: 17px;
    position: relative;
    color: rgb(53, 53, 53);
    text-decoration: line-through;
}
.secured{
    color: #585858;
    margin: 10px 0;
}

/* .old-price::before{
    content: "";
    width: calc(100%);
    height: 2.5px;
    background-color:black;
    position: absolute;
    top: 10.5px;
} */
.price-wrap,.button-wrap{
    display: flex;
}

.single-items-wrap{
    padding-top: 50px;
}



/* details */

.car-details{
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}
.car-detail{
    padding: 7px 0 10px 0;
    border-bottom: 1px solid var(--lg)
}
.car-detail:hover{
    background: transparent;
    cursor: initial
}
.detail-p{
    padding: 0 7px 0 0
}
.detail-v{
    font-weight: 500
}
.detail-text{
    
}

/* addtocart button */
.message-button{
    padding: 12px;
    border-radius: 4px;
    background: var(--blue);
    color: white;
    border: none;
    margin: 25px 0 0 0;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}
.message-button:hover{
    background: #0869d1;
    box-shadow: 0 0 10px rgb(245, 245, 245);
}



.offer-text{
    padding: 10px 15px 0px 15px;
    font-size: 13px;
    letter-spacing: .6px;
    line-height: 23px;
    font-family: initial;
    display: block;
    color: rgb(87, 87, 87);
}
/* quantity */
.quantity-text{
    margin: 0 0 10px 0;
    color: var(--minitext-color);
    font-size: 14px;
    font-weight: 100;
}
.quantity-wrap{
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: max-content;
    overflow: hidden;
}
.amountC{
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}
.amountC:hover{
    background: rgb(234, 234, 234);
    /* border-radius: 8px; */
}
.quantity, .amountC > span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
}
.amountC > span{
    font-size: 24px;
}


.add-info{
    border-top: 1px solid rgb(231, 231, 231);
}
.add-info-box{
    border-bottom: 1px solid rgb(231, 231, 231);
}
.add-info-box-top{
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
.add-info-box-bottom{
    margin: 0 10px 15px 10px;
    color: #000000BF;
    user-select: none;
    -webkit-user-select: none;
}

.add-info-leftbox{
    display: flex;
    align-items: center;
}
.add-info-text{
    font-size: 19.5px;
    margin: 0;
    font-weight: 400;
    padding-left: 14px;
}
.add-info-arrow{
    height: 100%;
    width: 40px;
    font-size: 20px;
}

.turned{
    transform: rotate(180deg);
}

div::-webkit-scrollbar {
  height: 7px;
  border-radius: 5px;
}

div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

div::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 4px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #036ddf;
}

@media screen and (max-width: 800px){
    main{
        flex-direction: column;
        align-items: center;
    }
    .left{
        position: static;
    }
    .right{
        padding: 60px 0 0 0;
    }
    .left, .right{
        width: 100%;
    }
    .big-image-wrap{
        box-shadow: 0 3px 10px rgb(233, 233, 233);
    }
    .title{
        font-size: 42px;
        line-height: initial;
    }
    .small-images{
        padding-top: 40px;
    }
}

