.item-main{
    display: flex;
    padding: 30px 15px;
    position: relative;
    overflow: hidden;
}
.right{
    width: 35%;
    height: max-content;
    padding: 0 0 0 30px;
}
.left{
    width: 65%;
    height: max-content;
    display: flex;
    flex-direction: column;
    max-height: 800px;
    min-height: 400px;
    /* justify-content: space-between; */
}

.left,.right{
    position: sticky;
    top: 0;
}

/* fixed */
.select-anim-wrap-main{
    height: 140px;
    width: 100%;
}
.select-anim-wrap-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 280px;
    padding: 15px;
    z-index: 100;
    display: flex;
    justify-content: center;
}
.select-anim-wrap{
    max-width: 600px;
    width: 100%;
    background: white;
    border: 1px solid rgb(239, 239, 239);
    box-shadow: 0 1px 3px rgb(229, 229, 229);
    border-radius: 3px;
}
.select-anim-text{
    text-align: center;
    margin: 10px 0 15px 0;
    font-size: 24px;
    color: rgb(47, 47, 47);
}
.button-wrap{
    display: flex;
    width: 100%;
    padding: 10px;
}

.select-anim{
    border: none !important;
    outline: none !important;
    padding: 12px;
    border-radius: 4px;
    background: var(--blue);
    color: white;
    border: none;
    margin: 0 2px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    cursor: pointer;
    transition: 400ms;
}
.select-anim.active{
    background: #086dda;
    border-radius: 10px;
}
.select-anim:hover{
    background: #0869d1
}

.big-image-wrap{
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(233, 233, 233);
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
    height: 100%;
}
.image-wrap{
    min-height: 50vh;
    height: 60vh !important;
    max-height: 70vh;
    display: flex;
    align-items: center
}
.big-image{
    width: 100%;
}

/* right */
h1, h5{
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}
.title{
    padding: 0 0 10px 0;
    font-size: 42px;
    color: rgb(53, 53, 53);
}
.title-input{
    display: block;
    margin: 15px 0;
    font-size: 20px !important
}

.price-wrap{
    padding-bottom: 10px;
}

.price{
    font-size: 19px ;
    color: var(--mainColor);
}
.price-input{
    font-size: 15px !important;
}

/* seller */
.seller-profile{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.seller-img-wrap{
    min-width: 45px;
    min-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 .5px 4px #e2e1e1;
}
.seller-img{
    width: 45px
}
.seller-name-wrap{
    padding-left: 10px;
}
.seller-name-wrap span{
    display: block
}
.seller-name{
    font-weight: 500;
    font-size: 17px
}
.listing-count{
    font-size: 13px;
    color: gray;
}

/* details */

.car-details{
    list-style-type: none;
    padding: 0;
    margin: 10px 0 15px;
    border: 1px solid var(--lg);
    border-bottom: none;
    border-radius: 5px;
    width: 100%;
    border-collapse: collapse;
}
td{
    width: max-content;
    padding: 7px 10px 8px 10px;
}
.car-detail{
    max-height: 50px;
    border-bottom: 1px solid var(--lg);
    /* transition: opacity 500ms ease-in-out, transform 300ms ease-in; */
}

.car-detail:hover{
    background: transparent;
    cursor: initial
}
.detail-p{
    padding: 0 7px 0 0
}
.detail-v{
    font-weight: 500;
    width: 100%;
    display: block;
}
.detail-input{
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 13px;
    padding: 6px 7px;
}

/* addtocart button */
.message-button{
    padding: 12px;
    border-radius: 4px;
    background: var(--blue);
    color: white;
    border: none;
    margin: 25px 0 0 0;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}
.message-button:hover{
    background: #0869d1;
    box-shadow: 0 0 10px rgb(245, 245, 245);
}


/* description */
.description-wrap,
.seller-profile, 
.title-wrap,
.price-wrap,
.car-detail,
.message-button,
.big-image-wrap{
    opacity: 0;
}
.description{
    max-height: 300px;
    padding: 10px 15px 0px 15px;
    font-size: 13px;
    letter-spacing: .6px;
    line-height: 23px;
    font-family: initial;
    display: block;
    color: rgb(87, 87, 87);
}
.description-textarea{
    width: 100%;
    max-width: 100%;
    resize: vertical;
    min-height: 60px;
    max-height: 300px;
    font-size: 12px !important;
}

div::-webkit-scrollbar {
  height: 7px;
  border-radius: 5px;
}

div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

div::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 4px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #036ddf;
}

@media screen and (max-width: 800px){
    .item-main{
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    .left{
        position: static;
        min-height: 250px;
    }
    .right{
        padding: 20px 0 0 0;
    }
    .left, .right{
        width: 100%;
    }
    .select-anim-wrap{
        max-width: 100%;
    }
    .big-image-wrap{
        box-shadow: 0 3px 10px rgb(233, 233, 233);
    }
    .title{
        font-size: 30px;
        line-height: initial;
        margin: 0;
    }
    .small-images{
        padding-top: 40px;
    }
    .price{
        margin: 0;
    }
}

