main{
    display: flex;
    padding: 30px 15px;
    position: relative;
}
.right{
    width: 35%;
    height: max-content;
    padding: 0 0 0 30px;
}
.left{
    width: 65%;
    /* height: 95vh; */
    max-height: 800px;
    min-height: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.left,.right{
    position: sticky;
    top: 0;
}
.big-image-wrap{
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(233, 233, 233);
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
}
.image-wrap{
    min-height: 50vh;
    max-height: 70vh;
    display: flex;
    align-items: center
}
.big-image{
    width: 100%;
}
.zoomed{
    transform: scale(2);
}

/* small */

.small-images{
    min-height: 190px;
    padding: 30px 10px 0px 10px;
    display: flex;
    /* justify-content: center; */
    overflow: auto;
}

.small-image-wrap{
    height: 130px;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: all 300ms, border-color 0s;
    box-shadow: 0 0 10px rgb(221, 220, 220);
}

.small-image-wrap.selected{
    transform: translateY(-10px);
    border: 2px solid var(--mainColor);
    border-radius: 7px;
}
.small-image-wrap img{
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
}




/* right */
h1, h5{
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

.title{
    margin: 0 0 15px 0;
    font-size: 35px;
    color: rgb(53, 53, 53);
}

.price-wrap{
    padding-bottom: 10px;
}

.price{
    font-size: 19px;
    color: var(--mainColor);
}


/* seller */
.seller-profile{
    display: flex;
    align-items: center;
    padding-bottom: 10px
}
.seller-img-wrap{
    min-width: 45px;
    min-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 .5px 4px #e2e1e1;
}
.seller-img{
    width: 45px
}
.seller-name-wrap{
    padding-left: 10px;
}
.seller-name-wrap span{
    display: block
}
.seller-name{
    font-weight: 500;
    font-size: 17px
}
.listing-count{
    font-size: 13px;
    color: gray;
}

/* details */

.car-details{
    list-style-type: none;
    padding: 0;
    margin: 25px 0 15px;
    border: 1px solid var(--lg);
    border-bottom: none;
    border-radius: 5px;
    width: 100%;
    border-collapse: collapse;
}
td{
    width: max-content;
    padding: 7px 10px 8px 10px;
}
.car-detail{
    border-bottom: 1px solid var(--lg)
}
.car-detail:hover{
    background: transparent;
    cursor: initial
}
.detail-p{
    padding: 0 7px 0 0
}
.detail-v{
    font-weight: 500
}

/* addtocart button */
.message-button{
    padding: 12px;
    border-radius: 4px;
    background: var(--blue);
    color: white;
    border: none;
    margin: 25px 0 0 0;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}
.message-button:hover{
    background: #0869d1;
    box-shadow: 0 0 10px rgb(245, 245, 245);
}


/* description */
.offer-text{
    padding: 10px 15px 0px 15px;
    font-size: 13px;
    letter-spacing: .6px;
    line-height: 23px;
    font-family: initial;
    display: block;
    color: rgb(87, 87, 87);
}

div::-webkit-scrollbar {
  height: 7px;
  border-radius: 5px;
}

div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

div::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 4px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #036ddf;
}

@media screen and (max-width: 800px){
    main{
        flex-direction: column;
        align-items: center;
    }
    .left{
        position: static;
    }
    .right{
        padding: 60px 0 0 0;
    }
    .left, .right{
        width: 100%;
    }
    .big-image-wrap{
        box-shadow: 0 3px 10px rgb(233, 233, 233);
    }
    .title{
        font-size: 42px;
        line-height: initial;
    }
    .small-images{
        padding-top: 40px;
    }
}

