.login-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100svh - 60px);
    padding: 30px;
}
.login-container {
    max-height: 450px;
    min-height: 450px;
    display: flex;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login-h2{
    text-align: center;
    margin: 0 0 40px 0;
}
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    max-width: 800px;
    padding: 30px;
}
.form{
    width: 400px;
}
.login-form input {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
}

.login-button{
    padding: 10px;
    opacity: 1;
    font-size: 17px;
    margin: 25px 0 0 0;
}

.login-image-wrap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden
}
.login-image{
    max-height: 450px;
}
.signup{
    text-decoration: none;
    cursor: pointer;
    color: rgb(50, 50, 50);
    padding: 7px 15px 15px 0;
    font-size: 14px;
    width: max-content;
    display: block;
}
.signup:hover{
    color: black;
}

@media screen and (min-width: 2000px) {
    .login-image{
        max-height: 550px;
    }
}

@media (max-width: 820px) {
    .login-container{
        width: 100%;
        min-height: initial;
    }
    .login-form{
        width: 60%;
    }
    .form{
        width: 100%;
    }
    .login-image-main-wrap{
        width: 40%;
    }
    .login-image{
        width: 100%;
        max-height: initial;
    }
}
@media (max-width: 700px) {
    .login-image-main-wrap{
        display: none;
    }
    .login-form{
        width: 100%;
        padding: 30px 15px 15px 15px;
    }
    .login-main{
        padding: 20px;
    }
}