nav {
    padding: 0 15px;
    display: flex;
    box-shadow: 0 4px 10px rgb(243, 243, 243);
}

.main-navbar {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:  flex-end;
}

.nav-li {
    cursor: pointer;
    height: 60px;
    
}

.nav-a:hover{
    background: rgb(240, 240, 240);
}
.nav-a:hover {
    color: black;
}

.nav-a {
    display: flex;
    align-items: center;
    transition: 300ms;
    text-decoration: none;
    font-size: 16px;
    color: var(--blue) !important;
    font-weight: 500;
    height: 100%;
    padding: 0 40px;
    text-decoration: none !important;
}



.logo-wrap{
    padding: 0 15px;
    height: 60px;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.logo{

}
.logoimg{
    max-width: 80px;
}

.free-shipping{
    padding: 10px;
    background: var(--blue);
    color: white;
    display: flex;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    justify-content: center;
}

@media screen and (max-width: 500px){
    .nav-a{
        padding: 0 30px;
    }
}